
#grad {
    background-image: linear-gradient(rgb(15, 24, 110), rgb(85, 42, 124));
}

body {
    background-color: rgb(4, 8, 27);
    width: 100%;
    height: 100%;
}

.menu-principal {
    width: 100%;
    background-color: #DBDBDB;
    height: 60px;
} 

.logo {
    padding: 13px;
    text-align: 60px;
}

h1{
    font-family: Roboto, sans-serif;
    color:#686eb3;
}

h3{
    font-family: Roboto, sans-serif;
    color:#9a9aa3;
}

a{
    color: whitesmoke;
    font-family: Roboto, sans-serif;
    text-decoration:none;
    color:#6572ff;
}

caption {
    padding: 1px
}

div {
    display: inline-block;
}

nav {
  text-align: right;
  font-family: 'AR One Sans', sans-serif;
  font-size:23px;
}

.pra{
  margin:150px
}

footer{
  background-color:#061A54;
  bottom: 0;
  width: 100%;
  text-align: center;
}

p {
    font-family: Roboto, sans-serif;
    color:#ffffff;
}

.link {
    text-align:right;
    margin-right:10px;
    margin-top:10px;
    font-family:'AR One Sans', sans-serif;
    font-weight:700;
}

.linka {
    margin:7px;
}

.convite{
    color:#2a2c7e;
}

.convite:hover {
    color: #0c65a7;
    text-decoration-line:underline;
}

.github {
    color:rgb(63, 61, 61);
}

.github:hover {
    color: #b3b5b6;
    text-decoration-line:underline;
}

.linkjl {
    color:rgb(196, 36, 36)
}

.linkjl:hover {
    color: #0c65a7;
    text-decoration-line:underline;
}

@import url('https://fonts.googleapis.com/css2?family=AR+One+Sans:wght@400;500;600;700&family=Roboto:wght@400;500&display=swap');
